#wpadminbar .awpp-adminbar-criticalcss {

	input[type=checkbox] {
		display: none;
	}

	label {
		cursor: pointer;
		font-size: 11px;
		line-height: 25px;
		color: rgba(240, 245, 250, .2);
	}

	input#awpp-check-criticalcss:checked + label {
		color: rgba(240, 245, 250, 1);
	}
}