#wpadminbar .awpp-adminbar-criticalcss {

	input[type=checkbox] {
		display: none;
	}

	label, span, p {
		font-size: 11px;
		line-height: 25px;
	}

	label {

		cursor: pointer;
		color: rgba(#fff, .2);
		display: block;
		width: 100%;

		._info {
			opacity: .8;
			display: inline-block;
			margin-left: 5px;
			&.-on {
				color: green;
				display: none;
			}
			&.-off {
				color: red;
			}
 		}
	}

	input#awpp-check-criticalcss:checked + label {
		color: #fff;
		._info {
			opacity: 1;
			&.-on {
				display: inline-block;
			}
			&.-off {
				display: none;
			}
		}
	}
}