@-moz-keyframes awpp-spinner-animation {
  0% {
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes awpp-spinner-animation {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes awpp-spinner-animation {
  0% {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.awpp-settings-wrap .form-table td {
  vertical-align: top;
}
.awpp-settings-wrap h1 {
  margin-bottom: 20px;
}
.awpp-settings-wrap form {
  margin-top: 20px;
}
.awpp-settings-wrap form select {
  width: 150px;
}
.awpp-settings-wrap p.error {
  font-weight: bold;
  color: red;
}
.awpp-settings-wrap .settings-sub {
  margin-top: 20px;
}
.awpp-settings-wrap .settings-htaccess-push-container {
  max-width: 100%;
  width: 400px;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  -moz-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05);
  padding: 15px;
  position: relative;
}
.awpp-settings-wrap .settings-htaccess-push-container .loader {
  display: none;
  background-color: rgba(255, 255, 255, 0.6);
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
}
.awpp-settings-wrap .settings-htaccess-push-container .loader:after {
  position: absolute;
  content: '';
  top: 50%;
  left: 50%;
  margin-top: -20px;
  margin-left: -20px;
  background-color: transparent;
  border: 5px solid #898989;
  border-radius: 50%;
  border-top-color: transparent;
  border-right-color: transparent;
  width: 40px;
  height: 40px;
  display: inline-block;
  vertical-align: middle;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-animation: awpp-spinner-animation 0.65s infinite linear;
  -webkit-animation: awpp-spinner-animation 0.65s infinite linear;
  animation: awpp-spinner-animation 0.65s infinite linear;
}
.awpp-settings-wrap .settings-htaccess-push-container .info {
  font-size: smaller;
  margin-bottom: 20px;
}
.awpp-settings-wrap .files-list {
  margin-bottom: 25px;
}
.awpp-settings-wrap .files-list li:last-child {
  display: none;
}
.awpp-settings-wrap .files-list li:first-child {
  display: block;
}
.awpp-settings-wrap .files-list li label code {
  display: block;
  font-size: smaller;
}
.awpp-settings-wrap .files-list li.no-items {
  font-size: smaller;
}
