@-moz-keyframes awpp-spinner-animation {
  0% {
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes awpp-spinner-animation {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes awpp-spinner-animation {
  0% {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.awpp-wrap__section {
  background-color: #fff;
  border: 1px solid #e5e5e5;
  -moz-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05);
  padding: 15px;
  margin-top: 30px;
  max-width: 700px;
  width: 100%;
}
.awpp-wrap__section h2 {
  margin: -15px;
  margin-bottom: 15px;
  padding: 15px;
  border-bottom: 1px solid #e5e5e5;
}
.awpp-wrap__section .form-table td {
  vertical-align: top;
}
.awpp-wrap__section .form-table select {
  width: 150px;
}
.awpp-wrap__section .form-table textarea,
.awpp-wrap__section .form-table input[type=text] {
  width: 100%;
}
.awpp-wrap__section .form-table textarea {
  min-height: 100px;
}

.awpp-smaller {
  font-size: smaller !important;
}

.awpp-check {
  font-weight: bold;
  color: #2c9524;
}

.awpp-check--bad {
  color: #db1c23;
}

.awpp-check--warning {
  color: #ff8b00;
}

.serverpush-htaccess-info {
  position: relative;
  margin-top: 15px;
}
.serverpush-htaccess-info .infotext {
  margin-bottom: 15px;
}
.serverpush-htaccess-info .loader {
  display: none;
  background-color: rgba(255, 255, 255, 0.6);
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
}
.serverpush-htaccess-info .loader:after {
  position: absolute;
  content: '';
  top: 50%;
  left: 50%;
  margin-top: -20px;
  margin-left: -20px;
  background-color: transparent;
  border: 5px solid #898989;
  border-radius: 50%;
  border-top-color: transparent;
  border-right-color: transparent;
  width: 40px;
  height: 40px;
  display: inline-block;
  vertical-align: middle;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-animation: awpp-spinner-animation 0.65s infinite linear;
  -webkit-animation: awpp-spinner-animation 0.65s infinite linear;
  animation: awpp-spinner-animation 0.65s infinite linear;
}
.serverpush-htaccess-info .files-list {
  margin-bottom: 25px;
}
.serverpush-htaccess-info .files-list li:last-child {
  display: none;
}
.serverpush-htaccess-info .files-list li:first-child {
  display: block;
}
.serverpush-htaccess-info .files-list li label code {
  display: block;
  font-size: smaller;
}
.serverpush-htaccess-info .files-list li.no-items {
  font-size: smaller;
}

.awpp-criticalapi-settings-wrap .form-table {
  margin: 20px 0;
  width: 100%;
  max-width: 600px;
}
.awpp-criticalapi-settings-wrap .form-table input[type=text],
.awpp-criticalapi-settings-wrap .form-table input[type=textarea] {
  width: 100%;
}
