.criticalapi-generate {
	span.not_generated {
		font-style: italic;
		color: #b1b1b1 !important;
		display: none;
	}
	span.is_generated {
		display: block;
	}
	.criticalapi-generate__delete {
		display: inline-block;
	}
}

.criticalapi-generate--nofile {
	span.not_generated {
		display: block;
	}
	span.is_generated {
		display: none;
	}
	.criticalapi-generate__delete {
		display: none;
	}
}

input[type=text].criticalapi-generate__input,
.criticalapi-generate__input {
	width: 90%;
	@include transition();
	&.-pop {
		@include scale(1.05);
	}
	&.-error {
		border-color: #a00;
	}
}

.criticalapi-generate__controls {
	text-align: right;
}

.criticalapi-generate__delete {
	background-color: transparent;
	border: none;
	outline: none;
	margin-top: 5px;
	font-size: smaller;
	color: #a00;
	cursor: pointer;
	opacity: .5;
	&:hover {
		color: #dc3232;
		opacity: 1;
	}
}

body.post-php {
	.criticalapi-generate {
		padding: 5px 0;
		&:after {
			content: '';
			clear: both;
			display: block;
		}
	}
	.criticalapi-generate__controls {
		float: right;
	}
	.criticalapi-generate__generated {
		float: left;
		.generated_title {
			display: block;
			margin-bottom: 7px;
			font-weight: bold;
		}
	}
}