.monitoring-links {
	width: 100%;
	border-spacing: 0;
	td, th {
		text-align: left;
		padding: .7em 0;
		border-bottom: 1px solid #d9d9d9;
	}
	th {
		border-bottom-color: #000;
	}
}

td.monitoring-table_link {
	//padding-left: 1.8rem;
	position: relative;
}

.monitoring-table_color {
	display: inline-block;
	width: 1.2em;
	height: 1.2em;
	margin-top: -.6em;
	position: absolute;
	left: 0;
	top: 50%;
	display: none;
}

.monitoring-options-btn {
	border: none;
	background-color: transparent;
	outline: none;
	cursor: pointer;
	color: #8a8a8a;
	@include transition();
	float: right;
	text-decoration: none;
	@include scale(1.4);
	&:hover {
		color: #000;
	}
}

#monitoring-set-psikey input[name=apikey] {
	width: 300px;
}

.awpp-monitoring_setting {
	display: block;
	margin: 10px 0 20px 0;
	label {
		display: block;
		margin-bottom: 5px;
		font-weight: bold;
	}
	select,
	input[type=email] {
		width: 100%;
	}
}

.awpp-monitoring_setting--submit {
	text-align: right;
}

.awpp-monitoring-settings {
	position: relative;
	.loader {
		position: absolute;
		bottom: -2px;
		left: -2px;
		right: -2px;
		top: -2px;
		display: none;
		background-color: rgba(#fff, .8);
		&:before {
			content: '';
			display: block;
			position: absolute;
			left: 50%;
			top: 50%;
			margin-left: -30px;
			margin-top: -30px;
			@include spinner(60px, 6px solid #0073aa);
		}
	}
}
