.serverpush-htaccess-info {
	position: relative;
	margin-top: 15px;
	.infotext {
		margin-bottom: 15px;
	}
	.loader {
		display: none;
		background-color: rgba(#fff, .6);
		position: absolute;
		bottom: 0;
		right: 0;
		left: 0;
		top: 0;
		&:after {
			position: absolute;
			content: '';
			top: 50%;
			left: 50%;
			margin-top: -20px;
			margin-left: -20px;
			@include spinner(40px, 5px solid #898989);
		}
	}

	.files-list {
		margin-bottom: 25px;
		li {
			&:last-child {
				display: none;
			}
			&:first-child {
				display: block;
			}

			label {
				code {
					display: block;
					font-size: smaller;
				}
			}

			&.no-items {
				font-size: smaller;
			}
		}
	}
}